<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Ubuntu:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename= 'cars_style.css') }}">

    <title>Recall360: Automotive Solution Searcher</title>

</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="{{ url_for('homepage') }}">Search<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="{{ url_for('book_marked_page') }}">Bookmarked</a>
          </div>
        </div>
      </nav>

    <div class="jumbotron">
      <h1>
        {% block h1 %}
        {% endblock %}
      </h1>
    </div>

    {% block content %}
    {% endblock %}
    
    
</body>
</html>