{% extends 'base.html' %}

{% block h1 %}Welcome to your Book Marked Recalls{% endblock %}


{% block content %}



 

    <div>
        <ol>
            {% for recall in bookmarks %}
            <li>
            <h4>{{ recall.year }} {{ recall.make }} {{ recall.model }}</h4>
                
                    {% if recall.photo_error != None %}
                        {{ recall.photo_title }}
                        {{ recall.photo_link }}
                    {% else %}  
                        {{ recall.photo_error }}
                    {% endif %}

                    {% if recall.recall_error != None %}
                        {{ recall.recall_date }}  {{ recall.recall_component }}
                        {{ recall.recall_summary }}
                    {% else %}
                        {{ recall.recall_error }}
                    {% endif %}
                    
                    {% if recall.video_error != None %}
                        {{ recall.video_title }}
                        {{ recall.video_embed }}
                    {% else %}
                        {{ recall.video_error }}
                    {% endif %}

                    {% if recall.video_error != None %}                    
                        {{ recall.shop_url }}
                        {{ recall.shop_name }}  {{ recall.shop_rating }}
                        {{ recall.shop_address }} {{ recall.shop_city }} {{ recall.shop_state }}
                    {% else %}
                        {{ recall.shop_error }}
                    {% endif %}

            </li>            
            {% endfor %}
        </ol>
    </div>


{% endblock %}