{% extends 'base.html' %}


{% block h1 %}
Recall:360 -the Automotive Recall Solution tool!
<img class='home_icon' src="{{ url_for('static', filename='car.jpg') }}" alt="picture of a car">
{% endblock %}


{% block content %}
<h3>Please enter the Year, Make, and Model to search for your car's recalls:</h3>

<div class="car_form">
    <form method="GET" action="get_car">
                    
            <label class="car_details">Year:</label> <input type="number" name="year" class="form-control" required><br>  
                    
            <label class="car_details">Make:</label> <input type="text" name="make" class="form-control" required><br>
            
            <label class="car_details">Model:</label> <input type="text" name="model" class="form-control" required><br>
                    
            <button type="submit">Search</button><button type="reset">Reset</button><br>
                    
    </form>
</div>
    
{% endblock %}