{% extends 'base.html' %}


{% block h1 %}
Welcome to the Automotive Solution Tool!
<img class='home_icon' src="{{ url_for('static', filename='car.jpg') }}" alt="picture of a car">
{% endblock %}



{% block content %}
<h3>Please fill out the boxes below to search for your desired car:</h3>

<div class="car_form">
    <form method="GET" action="get_car">
                    
            <label class="car_details">Year:</label> <input type="number" name="year" class="form-control" required><br>  
                    
            <label class="car_details">Make:</label> <input type="text" name="make" class="form-control" required><br>
            
            <label class="car_details">Model:</label> <input type="text" name="model" class="form-control" required><br>
                    
            <button type="submit">Search</button><br>
                    
    </form>
</div>
    
{% endblock %}