{% extends 'base.html' %}

{% block h1 %}Recall Solution for {{ year }} {{ make.title() }} {{ model.title() }}{% endblock %}

{% block content %}

<div class="recall_info">
    {% for photo in car_photos %}
        <h4>{{ photo.title }}</h4>
        <img src="{{ photo.link }}" alt="Slide: {{ photo.title }}">
    {% endfor %}
</div>

<div class="recall_info">
    {% if car_recalls.count > 0 %}
        <ul>
        {% for recall in car_recalls.results %}
            <li>Date of Recall (day/month/year): {{ recall.ReportReceivedDate }} 
                <br> 
                Affected Component: {{ recall.Component  }}
                <br>
                Summary of recall: {{ recall.Summary }}
            </li>
        {% endfor %}
        </ul>
    {% endif %}
</div>

<div class="recall_info">
    {% for video in car_videos %}
        <h2>{{ video.title }}</h2>
        <iframe width="420" height="315" src="{{ video.embed }}"></iframe>
    {% endfor %}
</div>

<div class="recall_info">
    <ul>
    {% for shop in car_shops %}
        <li>Business Name: <a href="{{ shop.url }}" target="_blank">{{ shop.name }}</a> 
            <br> 
            Rating: {{ shop.rating  }}
            <br>
            Location: {{ shop.street_address }} {{ shop.city }}, {{ shop.state }}
        </li>
    {% endfor %}
    </ul>
</div>


{% endblock %}