{% extends 'base.html' %}
{% block content %}

<h2>Recall Solution for {{ year }} {{ make }} {{ model }}</h2>
<br>
{% for photo in car_photos %}
    <h4>{{ photo.title }}</h4>
    <img src="{{ photo.link }}" alt="Slide: {{ photo.title }}">
{% endfor %}
<br>

{% if car_recalls.count > 0 %}
    <ul>
    {% for recall in car_recalls.results %}
        <li>{{ recall.ReportReceivedDate }} 
            <br> 
            {{ recall.Component  }}
            <br>
            {{ recall.Summary }}
        </li>
    {% endfor %}
    </ul>
{% endif %}    
<br>
{{ car_videos }}
<br>

{{ car_shops }}


{% endblock %}